li {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-links ul {
    list-style: none;
}

.social-links {
    padding-top: 40px;
}

.social-links li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    min-height: 20px;
}

.social-links li img {
    margin-left: -20px;
}
