a {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #555;
}

body {
  font-family: helvetica;
}

pre {
  width: 80%;
  margin: 20px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  font-size: 1.2rem;
  padding: 13px;
  overflow: scroll;
}

blockquote {
  background-color: #eee;
  margin: 20px;
  margin-top: 0px;
  padding: 13px;
  font-size: 1rem;
}

#header {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}

#content {
  width: 70%;
  max-width: 768px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#post {
  margin-bottom: 30px;
}

#post img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1.5rem;
}

#post p {
  padding-bottom: 1.5rem;
}

#post a {
  color: #20639B;
}

#post h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  color: #0c1e29;
}

#post h2 {
  color: #0c1e29;
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

#post h3 {
  color: #0c1e29;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

#post p {
  margin-bottom: 1.5rem;
  color: #36444c;
}

#post li {
  margin-bottom: 1rem;
  color: #36444c;
}

#footer a {
  color: #ddd;
  padding-left: 5px;
}

#footer {
  background-color: #333;
  color: #bbb;
  padding: 10px;
  padding-left: 30px;
}
