<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Anders Conbere - {{ page.title }}</title>
  <link rel="stylesheet" href="/media/css/syntax.css">
  <link rel="stylesheet" href="/media/css/main.css">
</head>

<body>
  <div id="header">
    <a href="/">Anders Conbere</a>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <div id="footer">
    <a href="/resume.yml">Resume</a> |
    <a href="http://twitter.com/aconbere">Twitter</a> | 
    <a href="http://github.com/aconbere">Github</a>
  </div>
</body>
</html>
