{% assign post = site.posts.first %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/base.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/reset.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/main.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/media/css/fonts.css">
</head>

<body>
  <div id="footer">
    <p>
      <a href="/resume.yml">Resume</a> &raquo; <a href="http://twitter.com/aconbere">Twitter</a> &raquo; <a href="http://github.com/aconbere">Github</a>
    </p>
  </div>
</body>
</html>
